---
import Layout from "@layouts/DashLayout.astro";

const { user } = Astro.locals;
---

<Layout title="Dashboard">
  <h1>Welcome {user.email}</h1>
  <p>We are happy to see you here</p>
  <form action="/api/auth/signout">
    <button type="submit">Sign out</button>
  </form>
</Layout>
